{% extends "base.html" %} {% load static %} {% block content %}

<div class="row row-sm-cols-2 no-gutters">
  <div class="col col-12 col-xl-4 home-banner p-5">
    <h1 class="home-header text-light">
      The <span class="text-warning">best</span> online learning platform around
    </h1>
    <p class="mt-5 text-light" id="banner-text">
      Discover why thousands of people are using
      <span class="text-warning">MasterKlass</span> every day.
    </p>
    <div class="btn btn-warning btn-large mt-3">Sign up!</div>
  </div>
  <div class="col col-12 col-xl-8 carousel-home">
    <div id="carouselHome" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="/media/chef.jpg"
            class="d-block w-100"
            alt="Picture of a chef"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/media/photographer.jpg"
            class="d-block w-100"
            alt="Picture of a photographer"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/media/programmer.jpg"
            class="d-block w-100"
            alt="Picture of a programmer"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row align-items-center">
  <div class="col">
    <h2 class="text-center mt-5">New classes added everyday.</h2>
    <hr class="linebreak mb-5" />
    <div class="container">
      <div class="card-group">
        <div class="card m-3">
          <img src="/media/programmer.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Algorithms</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
        <div class="card m-3">
          <img src="/media/programmer.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Algorithms</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
        <div class="card m-3">
          <img src="/media/programmer.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Algorithms</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <div class="btn btn-large btn-outline-secondary m-4">
          FIND CLASSES FOR YOU
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="linebreak mb-5" />
<div class="row mt-5">
  <div class="container-fluid footer bg-dark p-2">
    <div class="col text-center text-white">
      © 2020 Copyright:
      <a
        class="text-copyright"
        id="text-footer"
        href="https://thiagohardt.github.io/thiago-hardt-portfolio"
        target="_blank"
      >
        Thiago Hardt</a
      >
      <div class="col">
        <a
          class="text-white"
          href="https://www.linkedin.com/in/thiago-hardt-461144195"
          target="_blank"
          ><i class="fab fa-linkedin social-link"></i
        ></a>
        <a
          class="text-white"
          href="https://github.com/ThiagoHardt"
          target="_blank"
          ><i class="fab fa-github-square social-link"></i
        ></a>
        <a
          class="text-white"
          href="https://www.facebook.com/thiago.hardt/"
          target="_blank"
          ><i class="fab fa-facebook-square social-link"></i
        ></a>
        <a
          class="text-white"
          href="https://www.instagram.com/thiagohardt/"
          target="_blank"
          ><i class="fab fa-instagram-square social-link"></i
        ></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
