{% extends "base.html" %} {% load static %} {% block content %} {% load crispy_forms_tags %}
<h3 class="text-center mt-5">Profile Info</h3>
<hr class="linebreak mb-5" />
<div class="container mb-5">
    <div class="row align-items-center">
        <div class="col col-sm-12 col-md-6 col-lg-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <img src="{{user.userprofile.profile_picture.url}}"
                            class="profile-picture mx-auto mt-2 mb-5 shadow" alt="{{user}}">
                    </div>
                    <form action="" method="POST" id="updateUserForm" name="updateUserForm"
                        encType="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="px-1 mb-5">
                            <legend class="fieldset-label small text-black w-auto mb-3">Personal Details</legend>
                            {{ userForm|crispy }}
                            {{ profileForm|crispy }}
                        </fieldset>
                        <fieldset class="px-1 mb-5">
                            <legend class="fieldset-label small text-black w-auto mb-3">Subscription Details</legend>
                            <label for="planType">Current Subscription</label>
                            <h5 id="planType">{{user.userprofile.plan}}</h5>
                            <label for="dateJoined">Joined</label>
                            <h5 id="dateJoined">{{user.userprofile.date_joined|date:"d, F, Y"}}</h5>
                        </fieldset>
                        <button type="submit" class="btn btn-warning float-right mt-3">Update</button>
                        <a href="{% url 'account_change_password' %}" type="submit"
                            class="btn btn-danger float-right mt-3 mr-3">Change Password</a>
                    </form>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="small d-flex justify-content-center mb-3" href="">Want to close your account?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}