{% extends "account/base.html" %}
{% block page_heading %}Log Out{% endblock %}
{% load i18n %}

{% block head_title %}Logout{% endblock %}

{% block inner_content %}

<p class="text-center">{% trans 'Are you sure you want to logout?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-sm btn-warning float-right" type="submit">{% trans ' Log Out' %}</button>
</form>


{% endblock %}