{% extends "base.html" %} {% load static %} {% block content %}
<h3 class="text-center mt-5">Create a new account</h3>
<hr class="linebreak mb-5" />
<div class="container mb-5">
    <div class="row align-items-center">
        <div class="col col-sm-12 col-md-6 col-lg-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'signup' %}" method="post" id="signupForm" name="signupForm">
                        {% csrf_token %}
                        <fieldset class="px-3 mb-5">
                            <legend class="fieldset-label small text-black w-auto mb-3">Personal Details</legend>
                            {{ form.username | as_crispy_field }}
                            {{ form.email | as_crispy_field }}
                            {{ form.password1 | as_crispy_field }}
                            {{ form.password2 | as_crispy_field }}
                        </fieldset>
                        <fieldset class="px-3">
                            <legend class="fieldset-label small text-black w-auto mb-3">Payment</legend>

                            <div class="mb-3 form-control" id="card-element"></div>
                            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                            <input hidden name="planId" id="planId" value="{{plan.id}}"></input>
                            <h5 class="text-right">{{plan.name}}</h5>
                            <h3 class="text-right">Total: €{{plan.price}}</h3>
                            <button type="submit" class="btn btn-warning float-right mt-3">Signup</button>
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
{% endblock %}