{% extends "base.html" %} {% load static %} {% block content %}

<div class="row align-items-center">
  <div class="col">
    <h2 class="text-center mt-5">New classes added everyday.</h2>
    <hr class="linebreak mb-5" />
    <div class="container">
      <div class="card-group">
        <div class="card m-3">
          <div class="card-body">
            <h5 class="card-title">Algorithms</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
        <div class="card m-3">
          <div class="card-body">
            <h5 class="card-title">Algorithms</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
        <div class="card m-3">
          <div class="card-body">
            <h5 class="card-title">Algorithms</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <div class="btn btn-large btn-outline-secondary m-4">
          FIND CLASSES FOR YOU
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
