{% extends "base.html" %} {% load static %} {% block content %} {% load crispy_forms_tags %}
<h3 class="text-center mt-5">New Course</h3>
<hr class="linebreak mb-5" />
<div class="container mb-5">
    <div class="row align-items-center">
        <div class="col col-sm-12 col-md-6 col-lg-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST" id="courseForm" name="courseForm" encType="multipart/form-data">
                        {% csrf_token %}
                        {{ courseForm|crispy }}
                        <div class="modal-footer p-0">
                            <button class="btn btn-sm btn-warning float-right mt-3" type="submit">Add Course</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}