{% extends "base.html" %} {% load static %} {% block content %} {% load crispy_forms_tags %}

<div class="row text-center mt-3 p-2 mx-auto">
    <h3 class="p">Welcome to the {{course.title}} course</h3>
</div>
<hr class="linebreak" />
<div class="row text-center p-2 mx-auto">
    <div class="col col-sm-12 col-md-6 col-lg-6 mx-auto">
        <p>{{course.description}}</p>
    </div>
</div>
<hr class="linebreak mb-5" />
<div class="container p-0">
    <div class="row row-cols-xl-2 row-cols-lg-2 row-cols-md-1 row-cols-sm-2">
        {% for lesson in lessons %}
        <div class="container">
            <div class="col">
                <div class="card card-lessons shadow-sm mx-auto">
                    <video class="card-video" style="width: 100%;" controls controlsList="nodownload"
                        src="{{lesson.video_url}}">
                        Sorry, your browser doesn't support embedded videos.
                    </video>
                    <div class="card-body">
                        <h5 class="card-title text-center">Lesson {{lesson.position}} - {{lesson.title}}</h5>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr class="linebreak" />
<div class="container">
    <div class="row m-3">
        <div class="col">
            <h5 class="text-center">Comments <i class="fas fa-comment-dots"></i></h5>
        </div>
    </div>
</div>
{% if user.is_authenticated%}
<div class="row mb-3 mx-3">
    <div class="col col-sm-12 col-md-6 col-lg-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <form action="" method="POST" id="lessonForm" name="lessonForm">
                    {% csrf_token %}
                    {{ commentForm|crispy }}
                    <button id="updateBtn" name="updateBtn" value="Update" class="btn btn-sm btn-warning float-right"
                        type="submit">Post Comment</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% for comment in comments %}
<div class="row mb-3 mx-3">
    <div class="col col-sm-12 col-md-6 col-lg-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <p class="font-weight-bold pill-user m-0">{{comment.author}}</p><span
                    class="small text-muted font-italic">
                    commented
                    on:
                    {{comment.created_on|date:"d, F, Y" }}</span>
                <p class="p-3 m-0">{{comment.body}}</p>

            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}