{% extends "base.html" %} {% load static %} {% block content %}

<div class="row text-center mt-3 p-2 mx-auto">
    <h3 class="p">Welcome to the {{course.title}} course</h3>
</div>
<hr class="linebreak" />
<div class="row text-center p-2 mx-auto">
    <p>{{course.description}}</p>
</div>
<hr class="linebreak mb-5" />
<div class="container p-0">
    <div class="row row-cols-xl-2 row-cols-lg-2 row-cols-md-1 row-cols-sm-2">
        {% for lesson in lessons %}
        <div class="container">
            <div class="col">
                <div class="card card-lessons shadow-sm mx-auto">
                    <video controls controlsList="nodownload" src="{{lesson.video_url}}">
                        Sorry, your browser doesn't support embedded videos.
                    </video>
                    <div class="card-body">
                        <h5 class="card-title text-center">Lesson {{lesson.position}} - {{lesson.title}}</h5>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr class="linebreak" />
<div class="container">
    <div class="row">
        <h5>Comments <i class="fas fa-comment-dots"></i></h5>
        <div class="row">
            <div class="col">
                <div class="card m-3">
                    <div class="card-body">
                        <form action="">
                            <div class="form-group">
                                <label for="newComment">Add a new comment</label>
                                <textarea class="form-control" id="newComment" rows="3"></textarea>
                            </div>
                            <button class="btn btn-sm btn-warning float-right" type="submit">Comment</button>
                            <button class="btn btn-sm btn-secondary float-right mr-2" type="reset">Cancel</button>
                        </form>
                    </div>
                </div>
                <div class="card m-3">
                    <div class="card-body">
                        <div class="pill-user mb-4">
                            <p class="p-0 m-0 card-text">User Demo</p>
                        </div>
                        <p class="card-text"><small class="text-muted">Posted 20/20/2020</small></p>
                        <p>{% lorem 3 b random %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}