{% extends "base.html" %} {% load static %} {% block content %}

<form method="GET" action="{% url "courses" %}">
    <div class="form-group pt-5">
        <div class="row justify-content-center">
            <div class="col-10 col-md-10 col-sm-10 col-lg-5">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button type="submit" class="input-group-text bg-warning" id="searchCourse"
                            name="searchCourse"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row justify-content-center mx-auto">
            <a href="{% url 'courses'%}?q=" class="btn btn-sm btn-outline-secondary pill m-2">All
                Courses</a>
            {% for category in categories %}
            <a class="btn btn-sm btn-outline-secondary pill m-2"
                href="{% url 'courses'%}?q={{category.name}}">{{category.name}}</a>
            {% endfor %}
        </div>
    </div>
</form>

{% for category in currentCategory %}
<div class="row mx-auto">
    <h4 class="mt-2">{{category.name}}</h4>
</div>
<hr class="linebreak mb-5" />
<div class="container p-0 mb-5">
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 justify-content-center">
        {% for course in courses %}
        {% if course.category.name == category.name %}
        <div class="col m-2">
            <div class="card card-courses shadow-sm mx-auto">
                {% if course.thumbnail %}
                <img src="{{course.thumbnail.url}}" class="card-img-top" alt="{{course.title}}">
                {% else %}
                <img src="{{ MEDIA_URL }}default-image.png" class="card-img-top" alt="{{course.title}}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title text-center">{{course.title}}</h5>
                </div>
                <a href="{% url 'course_detail' course.id %}"
                    class="btn btn-sm btn-outline-secondary mb-3 w-50 mx-auto">Go to
                    Course</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}