{% extends "base.html" %} {% load static %} {% block content %} {% load crispy_forms_tags %}
<h3 class="text-center mt-5">Manage Courses</h3>
<hr class="linebreak mb-5" />
<div class="container mb-5">
    <div class="row align-items-center">
        <div class="col col-sm-12 col-md-6 col-lg-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead class="thead-dark text-center">
                            <tr>
                                <th scope="col">Category</th>
                                <th scope="col">Course Title</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            {% for course in courses %}
                            <tr>
                                <td scope="col">{{course.category}}</td>
                                <td scope="col">{{course.title}}</td>
                                <td>
                                    <a class="link" href="{% url 'update_course' course.id %}"><i
                                            class="fas fa-edit"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'add_course' %}" class="btn btn-sm btn-warning float-right mt-3">
                        New Course
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}